.ActionHistory
  background-color: white

.Action
  background-color: white
  border: 1px solid gray
  border-radius: 3px
  margin: 10px
  padding: 7px

  th, td
    padding: 1px 8px
  
  td
    border: 1px solid gray

  p
    line-height: 20px

  .sides
    display: flex
    justify-content: space-around
    padding-top: 5px

  .right
    display: flex
    flex-direction: column
    align-items: center
  
  .hit
    background-color: lightgreen

  .miss
    background-color: pink
