@import 'reset.sass'

body
  font-family: Arial, Helvetica, sans-serif

div, p
  box-sizing: border-box

h1
  font-size: 50px

h2
  font-size: 42px

h3
  font-size: 28px

h4
  font-size: 20px

h5
  font-size: 16px

h4, h5
  font-weight: bold
  color: maroon

p, label, span, li, td, th
  font-size: 14px

a
  color: black
  text-decoration: none

label
  font-weight: bold

hr
  border: 1px solid firebrick

th, td
  padding: 5px 10px
  vertical-align: middle

th
  font-weight: bold

strong
  font-weight: bold

.emph
  font-style: italic

.fixed-elem
  position: fixed
  width: 100vw
  background-color: white
  box-shadow: 0px 0px 8px -3px black

.App
  background-color: white

  .view
    margin-bottom: 100px
    margin-top: 100px

  .hidden
    visibility: hidden

// import component styles
@import 'buttons.sass'
@import 'Footer.sass'
@import 'Header.sass'
@import 'ActionHistory.sass'
@import 'MessageToast.sass'
@import 'Encounter.sass'
@import 'MonsterList.sass'
