@import 'reset.sass'

body
  font-family: Arial, Helvetica, sans-serif

div
  box-sizing: border-box

h1
  font-size: 50px

h2
  font-size: 42px

h3
  font-size: 28px

h4
  font-size: 20px

h5
  font-size: 16px

h4, h5
  font-weight: bold
  color: maroon

p, label, span, li
  font-size: 14px

a
  color: black
  text-decoration: none

label
  font-weight: bold

hr
  border: 1px solid firebrick

.emph
  font-style: italic

strong
  font-weight: bold

.App
  background-color: white

// import component styles
@import 'Footer.sass'
@import 'MessageToast.sass'
@import 'Encounter.sass'
@import 'MonsterList.sass'
@import 'ActionHistory.sass'
