.CloseButton
  display: flex
  justify-content: flex-end
  margin: 3px

  svg
    cursor: pointer
    path
      stroke: white
      stroke-width: 2px

    &:hover
      path
        stroke: gray

.AddButton
  svg
    background-color: whitesmoke
    border-radius: 3px
    border: 1px solid gray
    cursor: pointer
    path
      stroke: black
      stroke-width: 2px

      