.Encounter
  display: grid
  
.Monster
  background-color: $dnd-tan
  margin: 20px
  padding: 10px
  border: 1px solid gray
  border-radius: 5px
  max-width: 500px

  font-family: serif

  .ability-score-box
    display: flex
    flex-direction: row
    justify-content: space-around

  .monster-action, .monster-special
    margin: 5px 0px
  
  .monster-action
    display: flex
    align-items: center

    p
      cursor: pointer
      border: 1px solid $dnd-tan
      padding: 3px
      margin: 0px 5px

      &:hover
        background-color: $dnd-tan
        filter: brightness(1.15)
        border: 1px solid gray
        border-radius: 3px

  .multi
    cursor: inherit

    p:hover
      cursor: default
      border: 1px solid $dnd-tan
      background-color: inherit

  .hr-thin
    border-width: .5px

@media screen and ( min-width: $laptop-medium )
  .Encounter
    grid-template-columns: 1fr 1fr

@media screen and ( min-width: $laptop-large )
  .Encounter
    grid-template-columns: 1fr 1fr 1fr