.Encounter
  
.Monster
  background-color: lemonchiffon
  margin: 20px
  padding: 10px
  border: 1px solid gray
  border-radius: 5px
  max-width: 500px

  font-family: serif

  .ability-score-box
    display: flex
    flex-direction: row
    justify-content: space-around

  .monster-action, .monster-special
    margin: 10px 0px
  
  .monster-action
    cursor: pointer

    &:hover
      color: steelblue

  .hr-thin
    border-width: .5px
