.Header
  top: 0px
  height: 80px

// medium phone
@media screen and (max-width: $medium-phone)
  .Header
    height: $medium-header

// small phone
@media screen and (max-width: $small-phone)
  .Header
    height: $small-header
