html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h4, h5 {
  font-weight: bold;
  color: maroon;
}

p, label, span, li {
  font-size: 14px;
}

a {
  color: black;
  text-decoration: none;
}

label {
  font-weight: bold;
}

hr {
  border: 1px solid firebrick;
}

strong {
  font-weight: bold;
}

.emph {
  font-style: italic;
}

.App {
  background-color: white;
}
.App .view {
  margin-bottom: 100px;
}
.App .hidden {
  visibility: hidden;
}

.CloseButton {
  display: flex;
  justify-content: flex-end;
  margin: 3px;
}
.CloseButton svg {
  cursor: pointer;
}
.CloseButton svg path {
  stroke: white;
  stroke-width: 2px;
}
.CloseButton svg:hover path {
  stroke: gray;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0px;
  height: 80px;
  width: 100vw;
  background-color: white;
  box-shadow: 0px 0px 8px -3px black;
}
.Footer .link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 33%;
}
.Footer .link:hover {
  transition-property: background-color, color;
  transition-duration: 0.3s;
  background-color: maroon;
  color: white;
}
.Footer .active-link {
  text-decoration: underline;
}
.Footer img {
  height: 36px;
  margin: 5px;
}

@media screen and (min-width: 375px) {
  .Footer .link {
    flex-direction: column;
  }
}
.MessageToast {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 90px;
  margin-left: 5%;
  background-color: #101154;
  color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 28px -7px black;
  width: 90%;
}
.MessageToast .Action {
  background-color: inherit;
  border: none;
}

.Monster {
  background-color: lemonchiffon;
  margin: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  max-width: 500px;
  font-family: serif;
}
.Monster .ability-score-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Monster .monster-action, .Monster .monster-special {
  margin: 10px 0px;
}
.Monster .monster-action {
  cursor: pointer;
}
.Monster .monster-action:hover {
  color: steelblue;
}
.Monster .hr-thin {
  border-width: 0.5px;
}

.MonsterListItem {
  margin: 10px;
  padding: 5px;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 3px;
}

.ActionHistory {
  background-color: white;
}

.Action {
  background-color: #101154;
  color: white;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 10px;
  padding: 7px;
}
.Action p {
  line-height: 20px;
}

/*# sourceMappingURL=App.css.map */
